<div class="home-container">
  <div class="home-card">
    <div class="home-header">
      <div class="logo-icon">
        <mat-icon>home</mat-icon>
      </div>
      <h1 class="home-title">Welcome</h1>
      <p class="home-subtitle">Start your journey. Log in or sign up to continue.</p>
    </div>
    <div class="home-actions">
      <button mat-raised-button color="primary" class="login-button" routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </button>
      <button mat-raised-button color="primary" class="signup-button" routerLink="/signup">
        <mat-icon>person_add</mat-icon>
        <span>Sign Up</span>
      </button>
    </div>
  </div>
</div>
